@font-face {
  font-family: "retroGame";
  src: URL("../lib/retro.ttf") format("truetype");
}

body,
html {
  margin: 0;
  padding: 0;
}

* {
  font-family: "retroGame";
  color: ghostwhite;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h1, #endScore {
  font-size: 50px;
  text-align: center;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#endscreen {
  display: none;
  position: absolute;
  width: 800px;
  height: 520px;
  left: 50%;
  top: 50%;
  margin-top: -260px;
  vertical-align: middle;
  margin-left:-400px;
  background-color: rgba(0, 0, 0, 0.40);
  border-radius: 30px;
  box-shadow: inset 0 0 40px black;
}

#restart {
  position: relative;
  width: 550px;
  height: 100px;
  text-decoration: none;
  border: 2px solid black;
  background: mediumseagreen;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 25px;
  color: ghostwhite;
  box-shadow: inset 0 0 10px black;
  border-radius: 20px;
  outline: none;
  display: block;
  margin: 0 auto;
}

#restart:hover {
  background: seagreen;
}

#restart:active {
  transform: scale(0.95);
}

#endQuote {
  height: 160px;
  width: 700px;
  margin: 0 auto;
  margin-top: 100px;
  font-size: 30px;
  text-align: center;
}

#rndQuote {
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#score {
  font-size: 48px;
  font-family: "retroGame";
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: white;
  position: absolute;
  width: 100%;
  text-align: center;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.fullscreen > * {
  width: 100%;
  height: 100%;
}
